
html{ -webkit-text-size-adjust: 100%; text-size-adjust: 100%;}
body{ font-size: 12px; color: #333; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-touch-callout: none; background-color: #fff;}

a{ text-decoration: none; outline: none;}
a:active{ text-decoration: none; outline: none;}

body,button,input,select,textarea{ font-family:"Helvetica Neue", Helvetica, STHeiTi, sans-serif;}

p,ul,li,form,img,div,html,body,
h1,h2,h3,
dl,dd,
table,input,textarea{ margin: 0; padding: 0;}

ul{list-style: none;}

.cf:before,.cf:after{display:table;content:' ';}
.cf:after{clear: both;}